<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ComputerVisionSubscriptionKey" value="199d87241e054e7ba25a6035301e9fc3" />
    <add key="OCRSubscriptionKey" value="19a5c7c62618486eb9bd3d01b96d6b88" />
    <add key="BingWebSearchSubscriptionKey" value="d3f6aca7db514813b877d40fecb5618e" />
    <add key="WebScrapApiKey" value="d4928f2c348441a1b1a3f02be2804d55" />
    <add key="TextAnalyticsEndpoint" value="https://southeastasia.api.cognitive.microsoft.com" />
    <add key="TextProcessingPath" value="D:\ThirdEye" />
    <add key="DocDBUri" value="https://platforminfra.documents.azure.com:443/"/>
    <add key="DocDBAuthKey" value="SonnmG6zefrFr8vo3bzOkPFYouyv4aOnjPaWHfNJj1JIKPK2pidYbCdnNsULbjF6S6K30bL6Uio5HwWN42gFhw=="/>
    <add key="ExecuteFromPy" value="False" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
