<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Boilerpipe.Net" version="1.2.0" targetFramework="net461" />
  <package id="DynamicLanguageRuntime" version="1.2.3-alpha0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.10" targetFramework="net461" />
  <package id="IronPython" version="2.7.10-alpha0" targetFramework="net461" />
  <package id="Microsoft.Azure.CognitiveServices.Language.TextAnalytics" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.DocumentDB" version="2.5.1" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.19" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Sax.Net" version="2.0.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.Http.WinHttpHandler" version="4.5.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>